NEXT_PUBLIC_FAULTLINE_CONTRACT=0x5756f77aa6De57489132D1dB3e1D84E047559bF1
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_EXPLORER=https://explorer-studio.genlayer.com
